.signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    font-size: 1.2rem;
    background-color: goldenrod;
    box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 40%);
}

.signInFormCredentials {
    border: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.signInFormLegend {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.signInFormInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signInFormLabel {
    font-weight: 600;
}

.signInFormInput {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
