.logoContainer {
    margin: 0 4px 4px 4px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

img {
    width: 100%;
    height: 100%;
}
