.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputContainer {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.inputForm {
    width: 500px;
    height: 80px;
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
}

.input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 40px;
}

.button {
    width: 20%;
}
