.headerContainer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.mainContainer {
    padding: 50px;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
