*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
    width: 100%;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
    font-family: "Courier New", Courier, monospace;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button {
    cursor: pointer;
}

.particles-bg-canvas-self {
    position: fixed !important;
}

#root,
#__next {
    isolation: isolate;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
